:root {
  --headerfont-font-family: "Paytone One", sans-serif;
  --bodyfont-font-family: "Baloo 2", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(203, 241, 255);
}

::placeholder {
  opacity: 0.7;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

button,
button:hover,
button:focus,
button:active {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 700px) {
  .hide {
    display: none;
  }
}

/* HEADER......................................................... */
.topbar {
  width: 100%;
  height: 6vh;
  background-color: rgb(66, 66, 66) !important;
}

.banner {
  width: 100%;
  height: 50vh;
  background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.9) 10%,
      rgba(233, 246, 255, 0.9) 80%
    ),
    url(images/dollas.jpg) no-repeat;
  background-size: cover;
  padding: 50px 0 0 0;
}

.banner img {
  display: block;
  width: 7vw;
  margin: auto;
  padding: 0 0 0 30;
}

.text-container {
  width: 60%;
  margin: auto;
}

.text-container h1 {
  margin-top: 30px;
  text-align: center;
  padding: 15px;
  font-size: 50px;
  font-family: var(--headerfont-font-family);
  font-weight: 600;
}

.text-container h4 {
  text-align: center;
  padding: 15px;
  font-size: 25px;
  font-family: var(--bodyfont-font-family);
  font-weight: 500;
}

/* CALCULATE SECTION........................................ */

.calc-section {
  width: 100%;
  padding: 10px;
}

.calc-container {
  margin: auto;
  margin-top: -100px;
  width: 70%;
  height: 30vh;
  padding: 20px;
  background-color: rgba(238, 151, 21, 0.9);
  box-shadow: 10px 5px 5px rgb(255, 255, 255);
  border-radius: 20px;
}

.assembly-line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 60px;
}

.assembly-line input {
  width: 10rem;
  margin-right: 3rem;
  font-family: var(--bodyfont-font-family);
  font-size: 18px;
  padding: 15px 1px;
  border-radius: 20px;
  border: solid rgb(203, 203, 203) 1px;
  text-align: center;
  outline: none;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 12.5px solid transparent;
  border-right: 12.5px solid transparent;
  border-bottom: 25px solid rgb(167, 0, 0);
  transform: rotate(90deg);
  transition: all 0.3s ease-in-out;
}

.assembly-line img {
  max-width: 60px;
  transition: all 1s ease-in-out;
}

.assembly-line h3 {
  width: 10rem;
  margin-left: 3rem;
  padding: 10px;
  font-family: var(--bodyfont-font-family);
  font-size: 33px;
  color: rgb(0, 101, 55);
  /* border: solid red; */
}

#calculate-button {
  display: block;
  margin: auto;
  margin-top: 50px;
  padding: 20px 60px;
  font-family: var(--bodyfont-font-family);
  font-size: 20px;
  border: none;
  background-color: white;
  border-radius: 30px;
}

/* FOOTER.................................................... */
footer {
  padding: 10px;
  width: 100vw;
  height: 10vh;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(238, 238, 238);
  color: white;
  margin-top: 15rem;
}

/* ////////////////////////////////////////////////////////////////////////////
///                             IPAD DESIGN                              ///
/////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////// */

@media screen and (min-width: 701px) and (max-width: 1470px) {
  /* HEADER......................................................... */
  .topbar {
  }

  .banner {
    width: 100%;
    height: 58vh;
  }

  .banner img {
    width: 16vw;
  }

  .text-container {
    width: 80%;
  }

  .text-container h1 {
    margin-top: 40px;

    padding: 10px;
    font-size: 45px;
  }

  .text-container h4 {
    margin-top: 20px;
  }

  /* CALCULATE SECTION........................................ */

  .calc-section {
    padding: 5px;
  }

  .calc-container {
    margin-top: -80px;
    width: 95%;
    height: 28vh;
    padding: 5px;
  }

  .assembly-line {
    gap: 15px;
  }

  .assembly-line input {
    width: 5rem;
    margin-right: 0.5rem;

    font-size: 17px;
  }

  .arrow {
  }

  .assembly-line img {
  }

  .assembly-line h3 {
    width: 5rem;
    margin-left: 0.5rem;
    padding: 5px;

    font-size: 21px;
  }

  #calculate-button {
    margin-top: 70px;

    font-size: 18px;
  }

  /* FOOTER.................................................... */
  footer {
    margin-top: 11rem;
  }
}

/* ////////////////////////////////////////////////////////////////////////////
///                             MOBILE DESIGN                              ///
/////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 700px) {
  /* HEADER......................................................... */
  .topbar {
    height: 8vh;
  }

  .banner {
    height: 620px;
  }

  .banner img {
    width: 30vw;

    margin-top: 30px;
  }

  .text-container {
    width: 97%;

    /* border: solid red; */
  }

  .text-container h1 {
    margin-top: 35px;

    padding: 10px;
    font-size: 40px;

    line-height: 1.4;
  }

  .text-container h4 {
    margin-top: 10px;
    font-size: 19px;
    font-weight: 600;
    line-height: 1.4;
  }

  /* CALCULATE SECTION........................................ */

  .calc-section {
    padding: 5px;
  }

  .calc-container {
    margin-top: -60px;
    width: 99%;
    height: 120vh;
    padding: 10px;
  }

  .assembly-line {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 80px;
  }

  .assembly-line input {
    width: 30%;
    margin-right: 0;
    margin-bottom: 20px;
    font-size: 16px;
  }

  .arrow {
    transform: rotate(180deg);
  }

  .assembly-line img {
  }

  .assembly-line h3 {
    width: 100%;
    margin-left: 0;
    margin-top: 30px;

    font-size: 40px;
    text-align: center;
  }

  #calculate-button {
    font-size: 18px;
  }

  /* FOOTER.................................................... */
  footer {
    position: relative;

    margin-top: 10rem;
  }
}
